* {
    box-sizing: border-box;
    word-break: keep-all;
}

body {
    background-color: rgb(237, 233, 224);
    color: rgb(105, 97, 88);
    /* position: relative; */
}

section {
    margin-bottom: 200px;
}

.container {
    width: 85%;
    margin: auto;
}

.capitalize,
label,
button,
li {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.profile-text {
    width: 70%;
    margin: auto;
    text-align: center;
    /* line-height: 0px; */
}

.profile-img {
    width: 100%;
    height: 650px;
}

nav {
    justify-content: space-around;
    align-items: center;
    color: rgb(237, 233, 224);
    background-color: rgb(105, 97, 88);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
}

nav ul {
    /* align-self: flex-end; */
    /* justify-content: flex-end; */
    gap: 10px;
    /* align-items: center; */
    /* height: 100%; */
}


li {
    list-style: none;
}

a {
    color: inherit !important;
}

.projects-heading {
    margin-left: 20px;
}

.project {
    margin-bottom: 10px;
}

.space {
    margin: 20px;
}

.project-img {
    width: 100%;
    height: 200px;

}

form div input,
textarea {
    width: 100%;

    /* margin-top: 5px; */
    margin-bottom: 10px;
}

form div input {
    height: 40px;
    border-radius: 50px;
    padding-left: 20px;
}

textarea {
    height: 200px;
    border-radius: 20px;
    padding: 20px;
}

label {
    display: block;

}



@media only screen and (min-width: 100px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }

    .text-center {
        text-align: center;
    }

    .justify-around {
        justify-content: space-around;
    }

    .col-1 {
        width: 8.3333333333%;
    }

    .col-2 {
        width: 16.6666666667%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.3333333333%;
    }

    .col-5 {
        width: 41.6666666667%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.3333333333%;
    }

    .col-8 {
        width: 66.6666666667%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.3333333333%;
    }

    .col-11 {
        width: 91.6666666667%;
    }

    .col-12 {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .flex-row-sm {
        display: flex;
        flex-wrap: wrap;
    }

    .col-sm-1 {
        width: 8.3333333333%;
    }

    .col-sm-2 {
        width: 16.6666666667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.3333333333%;
    }

    .col-sm-5 {
        width: 41.6666666667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.3333333333%;
    }

    .col-sm-8 {
        width: 66.6666666667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.3333333333%;
    }

    .col-sm-11 {
        width: 91.6666666667%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .flex-row-md {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-end-md {
        justify-content: flex-end;
    }

    .col-md-1 {
        width: 8.3333333333%;
    }

    .col-md-2 {
        width: 16.6666666667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.3333333333%;
    }

    .col-md-5 {
        width: 41.6666666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.3333333333%;
    }

    .col-md-8 {
        width: 66.6666666667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.3333333333%;
    }

    .col-md-11 {
        width: 91.6666666667%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flex-row-lg {
        display: flex;
        flex-wrap: wrap;
    }

    .col-lg-1 {
        width: 8.3333333333%;
    }

    .col-lg-2 {
        width: 16.6666666667%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.3333333333%;
    }

    .col-lg-5 {
        width: 41.6666666667%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.3333333333%;
    }

    .col-lg-8 {
        width: 66.6666666667%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.3333333333%;
    }

    .col-lg-11 {
        width: 91.6666666667%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .flex-row-xl {
        display: flex;
        flex-wrap: wrap;
    }

    .col-xl-1 {
        width: 8.3333333333%;
    }

    .col-xl-2 {
        width: 16.6666666667%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.3333333333%;
    }

    .col-xl-5 {
        width: 41.6666666667%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.3333333333%;
    }

    .col-xl-8 {
        width: 66.6666666667%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.3333333333%;
    }

    .col-xl-11 {
        width: 91.6666666667%;
    }

    .col-xl-12 {
        width: 100%;
    }
}